.random-planet{
    margin-bottom: 20px;
    background-color: rgb(53, 53, 53);
    border-radius: 5px;
}
.about-random-planet{
    padding: 10px;
}
.about-random-planet ul li{
    list-style: none;
    border-top: 1px solid gray;
}

.random-planet img{
    max-width: 150px;
    margin: 15px;
    border-radius: 15px;  
}
