.about{
    background-color: rgb(53, 53, 53);
    padding: 10px;
    border-radius: 5px;
}
.person-details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.person-image{
    max-width: 150px;
    margin: 15px;
    border-radius: 10px;
}